.registration-wrp{
  display: flex;
  justify-content: space-between;
}
.gender{
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-right: 20px;
}
.female{
  margin-right: 200px;
}
.personal{
  width: 40%;
  min-height: 650px;
  padding-top: 64px;
  &__info{
    width: 360px;
    &__input{
      border: 1px solid #A4A4A4;
      width: 340px;
      height: 45px;
      margin-bottom: 20px;
      font-weight: 300;
      font-size: 13px;
      line-height: 16px;
      color: #B1B1B1;
      padding-left: 20px;
    }
    &__label{
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #222222;
    }
    &__radio{
      margin: 11px 10px 33px 0;
    }
    &__txt{
      font-weight: 300;
      font-size: 13px;
      line-height: 16px;
      color: #B1B1B1;
      margin-bottom: 40px;
    }
    & button{
      background-color: #F16D7F;
      color: #fff;
      width: 167px;
      height: 50px;
      text-transform: uppercase;
      border: none;
      &:hover{
        background-color: #fff;
        color: #F16D7F;
        border: 1px solid #F16D7F;
        & svg{
          fill: #F16D7F;
        }
      }
      &:active{
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
        & svg{
          fill: #000;
        }
      }
      & svg{
        fill: #fff;
      }
    }
  }
}
.marg{
  margin-top: 20px;
}
.ad{
  width: 60%;
  min-height: 650px;
  &__title,
  &__txt,
  & li{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
  }
  &__title{
    text-transform: uppercase;
    margin: 64px auto 22px 0;
  }
  &__txt{
    margin-bottom: 20px;
  }
  & li{
    margin-bottom: 16px;
    padding-left: 22px;
  }
  & ul{
    list-style-type: "\2713";
    margin-left: 20px;
  }
}

@media (max-width: 768px){
  .ad{
    width: 48%;
    &__title,
    &__txt,
    & li{
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
    }
  }
}
@media (max-width: 375px){
  .registration-wrp{
    flex-direction: column;
    justify-content: center;
  }
  .personal{
    min-height: 0;
  }
  .ad{
    width: 100%;
    min-height: 360px;
    margin-bottom: 96px;
    &__title{
      margin-top: 40px;
    }
  }
}
