.show{
  width: 100%;
  min-height: 777px;
  background-color: #F7F7F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__switch {
    width: 47px;
    height: 47px;
    background-color: #2A2A2A22;
    position: relative;
  }
  &__switch svg{
    fill: #000;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 11px;
    left: 16px;
  }
  &__switch:hover svg{
    fill: #F16D7F;
  }
}
